<html>
   <body>
      <form action = "http://vishal-flask-app-vishal-ray-project.engapps.uscc.com/result" method = "POST">
	     <p>Name <input type = "text" name = "name" /></p>
         <p>Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd) <input type = "text" name = "Pclass" /></p>
         <p>Sex (Male = 0, Female = 1) <input type = "text" name = "Sex" /></p>
         <p>Age <input type = "text" name = "Age" /></p>
         <p>Number of Siblings/Spouses Aboard <input type ="text" name = "SibSp" /></p>
		 <p>Number Parents/Children Aboard <input type ="text" name = "Parch" /></p>
		 <p>Passenger Fare (British pound) <input type ="text" name = "Fare" /></p>
		 <p>Port of Embarkation (0 = Cherbourg; 1 = Queenstown; 2 = Southampton) <input type ="text" name = "Embarked" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>


 	 	 	 	 	 	
