{% extends "layout.html" %}
{% block content %}
  <h3>TITANIC Logistic Regression Application:: Prediction Start</h3>
  <br>
  <p>MODEL TRAINING DATA FILE NAME: {{my_string}}</p>
  <p>PASSENGER NAME: {{name}}</p>
  <p>PASSENGER PROFILE INPUT ARGUMENTS: {{input}}</p>
  <p>SURVIVAL PREDICTION: {{prediction}}</p>
  <p>PREDECTION RUN COUNT: {{total_count}}</p>
  <ul>
    {% for n in my_list %}
    <p>{{n}}</p>
    {% endfor %}
  </ul>
  <h3>TITANIC Logistic Regression Application:: Prediction End</h3>
{% endblock %}
